<div class="example-loading-shade">
  <div class="add">
      <button mat-raised-button color="primary" (click)="addSale()" >
          <mat-icon> <span class="material-symbols-outlined"> add</span> </mat-icon>
      </button>
  </div>

  <mat-form-field class="search" appearance="outline">
      <mat-label><mat-icon >
        search</mat-icon></mat-label>
      <input   matInput (keyup)="applyFilter($event)" placeholder="Buscar" #input>
  </mat-form-field>
  <table mat-table
    class="mat-elevation-z8" matSort [dataSource]="dataSource"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="drop($event)"
    matSort (matSortChange)="announceSortChange($event)">

      <ng-container  *ngFor="let columna of columnas"  matColumnDef="{{columna.name}}" class="demo">
          <th mat-header-cell class="centre" cdkDrag mat-sort-header   *matHeaderCellDef> {{columna.title}} </th>
          <td mat-cell  *matCellDef="let element">
              <p *ngIf="element[columna.name]!= element.actions && element[columna.name]!= element.saleDate && element[columna.name]!= element.id"> {{element[columna.name] }}</p>
              <p *ngIf="element[columna.name]== element.saleDate"> {{element[columna.name] | date}}</p>
              <p style="text-align: left;" *ngIf="element[columna.name]== element.id" > {{element[columna.name] }}</p>
              <p *ngIf="element[columna.name]== element.actions">
                  <button class="hidden sm:inline-flex ml-3" (click)="editSale(element)" mat-flat-button [color]="'primary'">
                      <mat-icon> <span class="material-symbols-outlined"> edit</span> </mat-icon>
                  </button>

                  <button style="margin-left: 3px !important;" class="hidden sm:inline-flex ml-3" (click)="deleteSale(element)" mat-flat-button [color]="'warn'">
                      <mat-icon>  <span class="material-symbols-outlined">delete</span></mat-icon>
                  </button>
              </p>
          </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No hay datos en la lista "{{input.value}}"</td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;" >
    </tr>
  </table>
</div>





