<mat-dialog-content class="mat-typography">
    <p style="text-align: center; font-size: medium; text-decoration-style: dotted; text-decoration-color: black;">AGREGAR EMPLEADO</p>
    <div class="option">
</div>   
    <form [formGroup]="formProduct" class="example-form">
        <div class="drop1">
            <mat-form-field class="rifa" appearance="outline">
                <mat-label>Nombre Producto</mat-label>
                <input type="text"  id="productName" formControlName="productName" autocomplete="off" matInput placeholder="Nombre producto" >
                <mat-error *ngIf="formProduct.get('productName')">
                    Este Campo es requerido
                 </mat-error>
            </mat-form-field>
            <mat-form-field class="rifa" appearance="outline">
                <mat-label >Categoria</mat-label>
                <mat-select formControlName="categoryId" name="category">
                    <mat-option id="categoryId" class="ml-2 font-semibold uppercase" *ngFor="let category of category" [value]="category.id">
                        {{category.categoryName}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="formProduct.get('categoryId')">
                    Este Campo es requerido
                 </mat-error>
            </mat-form-field> 


            <mat-form-field appearance="outline">
                <mat-label>Codigo producto</mat-label>
                <input type="text" id="codProduct" formControlName="codProduct" autocomplete="off" matInput placeholder="Codigo producto" >
                <mat-error *ngIf="formProduct.get('codProduct')">
                    Este Campo es requerido
                 </mat-error>
            </mat-form-field>
        </div>

        <div >

        </div>
        <div class="drop1">
            <mat-form-field appearance="outline">
                <mat-label>Precio</mat-label>
                <input type="number" id="price" formControlName="price" autocomplete="off" matInput placeholder="Precio" >
                <mat-error *ngIf="formProduct.get('price')">
                    Este Campo es requerido
                 </mat-error>
            </mat-form-field>
    
            <mat-form-field class="rifa" appearance="outline">
                <mat-label>Cantidad</mat-label>
                <input type="number" id="productCant" formControlName="productCant" autocomplete="off" matInput placeholder="Cantidad producto" >
                <mat-error *ngIf="formProduct.get('productCant')">
                    Este Campo es requerido
                 </mat-error>
            </mat-form-field>
        </div>
    
  </form>
    
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close (click)="close()">Cancelar</button>
    <button mat-button type="submit" [disabled]="formProduct.disabled" *ngIf="!formProduct.disabled" class="text-green-500" (click)="addProduct()">Guardar</button>
  </mat-dialog-actions>
  