.drop1{
    display: inline-block;
    margin: 0 10px;
    /* background-color: black; */
}
.rifa{
    padding-left: 15px;
    margin-right: 10px;
    width: 170px;
}
.option{
    justify-items: center;
    text-align: center;
}