.container{
    text-align: center;
    padding: 15px;
    margin-top: 15px;
}
.drop1{
    display: inline-block;
    margin: 0 10px;
    /* //background-color: black; */
}
.inventory{
    padding-left: 15px;
    margin-right: 10px;
    width: 170px;
}
.option{
    justify-items: center;
    text-align: center;
}
mat-form-field{
    width: 250px !important;
}


table {
    margin-left: 30px;
    margin-top: 50px;
    table-layout: fixed;
    width: 90%;
    display: table;
    border: solid currentColor;
}

